.container1{
    background-color:#064616;
    padding:10px
}
.heading6{
    color:#fff
}
.heading5{
    color:#fff
}
.heading4{
    color:#fff;
    margin-top:10px
}
.icon8{
    background-color:#064616!important;
    padding:10px
}
.icon{
    height: 100px;
    width:100px;
    margin:auto;
}
.icon img{
    height: 100%;
    width: 100%;

}

