.container-slider{
    width:80%;
   
    margin:auto;
    margin-top:30px;
    
}
.container-block{
    
    display:flex;
    margin:auto;
    background-color:rgb(40, 65, 13);
}
.image-carsouel-conatiner{
    width:100%;
    height:100%;
}
.image-carsouel-conatiner img{
    width:120px;
    height:120px;
    padding:10px;
    margin:auto;
    border-radius:80px;
}
.Happy-Clients{
    text-align:center;
    padding:10px;
    color:#fff
}
.heading-discription{
    text-align:center;
    color:#ffff
}