.slick-caurosel {
    padding: 20px;
    background:#ffff;
    max-width: 90%;
    margin:0 auto;

  }
  .Heading{
    text-align:center;
  }
  
  .slick-slide img {
    margin: auto;
    height:200px;
    width:300px;
    border-radius:10px;
    
  }
  .slick-prev:before, .slick-next:before{
    color:black !important;
  }
   .slides{
    height:100px;
    width:100px;
  } 
  .slides img{
    max-height:100px;
    max-width:100px;
  }